<div class="container">
  <h1 class="display-4">Create new restaurant</h1>
  <br>
  <%= form_with model: @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :category %>
    <%= f.select :category, ["chinese", "italian", "japanese", "french", "belgian"] %>
    <%= f.submit %>
  <% end %>
  <br>
  <%= link_to "Cancel", restaurants_path %>
</div>
