<div class="container">
  <h1 class="display-4"><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <%= link_to "Reviews", restaurant_reviews_path(@restaurant), class: "btn btn-success" %>
  <br>
  <br>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant), class: "btn btn-secondary" %>
  <p>(removed)</p>
  <br>
  <br>
  <%= link_to "Delete",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
  class: "btn btn-danger"%>
    <p>(removed)</p>
  <br>
  <br>
  <%= link_to "Back to restaurant overview", restaurants_path, class: "btn btn-primary"%>
</div>
