<div class="container">
  <h1 class="display-4"> <%= @restaurant.name %></h1>
  <br>
  <br>
  <%= link_to "Create new review", new_restaurant_review_path, class: "btn btn-success"%>
  <br>
  <br>
  <%= link_to "Back to restaurant", restaurant_path(@restaurant), class: "btn btn-primary"%>
  <br>
  <br>
    <% @reviews.each do |review| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text"><%= review.rating %></p>
          <p class="card-text"><%= review.content %></p>
        </div>
      </div>
      <br>
    <% end %>
</div>
